<h2>プロフィール</h2>
<% flash.each do |message_type, message| %>
  <div>
    <% if (message_type=="alert") %>
      <%= content_tag(:div, message, class: "alert alert-danger") %>
    <% elsif (message_type=="notice") %>
      <%= content_tag(:div, message, class: "alert alert-success") %>
    <% else %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
<% end %>
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email, "Eメール" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :birthday, "生年月日" %><br />
    <%= f.date_select :birthday, { start_year: 1950, end_year: Time.now.year }, { class: "form-control", style: "display: inline-block; width: auto;" } %>
  </div>
  <br>
  <div class="field">
    <%= f.label :gender, "性別" %><br />
    <%= f.select :gender, [['男性', 'man'], ['女性', 'woman']], {}, class: "form-control", style: "width: auto;" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :school, "学校名" %><br />
    <%= f.text_field :school, class: "form-control" %>
  </div>
  <br>

  <div class="actions mb_15">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>
