<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <%= link_to 'e-Navigator', root_path, class: "site-title" %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
